DEVELOPER_ID_APPLICATION="Developer ID Application: Your Name (TEAMID)"
ASC_PRIVATE_KEY_PATH="/absolute/path/to/AuthKey_ABC123XYZ.p8"
ASC_KEY_ID="ABC123XYZ"
ASC_ISSUER_ID="00000000-0000-0000-0000-000000000000"
