<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>omgskills</string>
	<key>CFBundleExecutable</key>
	<string>omgskills</string>
	<key>CFBundleIconFile</key>
	<string>omgskills</string>
	<key>CFBundleIdentifier</key>
	<string>com.jonslimak.omgskills</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>omgskills</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jonslimak.omgskills.portal-pairing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>omgskills</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>0.0.18</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>OMGSkillsSyncEndpoint</key>
	<string>https://omgskills.com/api/portal/sync-upload</string>
	<key>OMGSkillsPortalConnectURL</key>
	<string>https://omgskills.com/app/connect</string>
	<key>OMGSkillsSkillGroupsAuthEnabled</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://omgskills.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>t0JBh2Gp/kZlZS2hl4gmHg2myGwV/cCIK4PWGpbiTxs=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
